* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.form__title {
    margin: 0 0 20px 0;
}

.form {
    background-color: rgba(247, 247, 247, 1);
    width: 500px;
    margin: 100px auto 0 auto;
    padding: 50px 20px 20px 20px;
    border-radius: 25px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.form-group label {
    width: 120px;
    margin-right: 10px;
}

input {
    width: 250px;
}

.btn {
    margin: 5px 5px 5px 305px;
}
